@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    font-size: 1vw;
}
@media screen and (min-width: 1500px) {
    * {
        font-size: 16px;
    }
}
:root{
    --main-primary-color: rgb(186,46,136);
    --main-secondary-color: rgb(235,143,207);
    --main-tertiary-color: rgb(228,76,166);
}
