.mainHeroDivider {
    background-color: #f8f9fa;
    height: 70vh !important;
    margin-top: 2rem;
    overflow: hidden;
    font-size: 1rem !important;
  }

  
  .heroBoxContainer{
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 70vh !important;
    text-align: center;

  }

  .heroBoxContainer:hover{
  
  animation: up 1.2s linear;
  /* top: 0%; */
}
  .homeProductBackground{
      /* transition: all 2s ease-in-out; */
      position: relative;
  }
  .homeProductBackground:hover{
    z-index: 1;
    /* background: url(/src/assets/images/pexels-pavel-danilyuk-7180730.jpg)  center center/cover; */
   animation: up 1.2s linear;
}
.homeProductBackground:hover::before{
    background-image: url("/src/assets/images/pexels-pavel-danilyuk-7180730.jpg");
} 
.homeProductBackground::before {
  content: "";
  position: absolute;
  inset: 0;                      /* fill the container */
  /* background-image: url("/src/assets/images/pexels-pavel-danilyuk-7180730.jpg"); */
  background-size: cover;
  background-position: center;
  transform: scale(1.05);       /* avoid seeing un-blurred edges */
  /* filter: blur(0.05rem);            */
  z-index: 0;
}
.homeProductBackground:hover .heroBox{
    animation: down 1.2s linear;
        bottom: 0%;
 /* bottom: 0%;  */
}
@keyframes up{
  0%{
    top: 90%;
  }
  25%{
    top: 70%;
  }
  50%{
    top: 45%;
  }
  75%{
    top: 20%;
  }
  100%{
    top: 0%;
  }
}
@keyframes down{
  0%{
    bottom: 90%;
  }
  25%{
    bottom: 70%;
  }
  50%{
    bottom: 45%;
  }
  75%{
    bottom: 20%;
  }
  100%{
    bottom: 0%;
  }
}
.realestateBackground{
  position: relative;
  /* border: 2px solid blue; */
  top: 0%;
  /* transition: all 2s ease-in-out; */
  /* top: 90%; */
  /* background: url(/src/assets/images/allison-saeng-vtUUvZP4XCk-unsplash.jpg) center center/cover; */
}
.realestateBackground:hover{
  
  animation: up 1.2s linear;
  /* top: 0%; */
}
  /* .realestateBackground:hover .heroBox{
    top: 0%;
  } */
.realestateBackground:hover::before{
    background: url(/src/assets/images/allison-saeng-vtUUvZP4XCk-unsplash.jpg) center center/cover;
} 
.realestateBackground::before {
  content: "";
  position: absolute;
  inset: 0;                      /* fill the container */
  /* background-image: url("/src/assets/images/pexels-pavel-danilyuk-7180730.jpg"); */
  background-size: cover;
  background-position: center;
  transform: scale(1.05);       /* avoid seeing un-blurred edges */
  /* filter: blur(0.05rem);     */
  z-index: 0;
}
.realestateBackground:hover .heroBox{
    animation: down 1.2s linear;
        bottom: 0%;
 /* bottom: 0%;  */
}
  .heroBox{
    position: absolute;
    width: 50%;
    bottom: 0%;
    height: 100% !important;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mainHeroIllustration {
    max-width: 100%;
    width: 100%;
    max-height: 60%;
    border-radius: 10px;

  }
  
  .mainHeroHeading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .mainHeroParagraph {
    font-size: 16px;
    color: #555;
  }
  
  .mainHeroBtn {
    /* background-color: rgba(196,153,81,255); */
    background: linear-gradient(var(--main-primary-color), var(--main-secondary-color),var(--main-tertiary-color));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  .mainHeroBtn:hover{
background: linear-gradient(var(--main-tertiary-color),var(--main-secondary-color),var(--main-primary-color));
    
  }

  
  /* Responsive Styles */
  @media (max-width: 768px) {
   .heroBoxContainer{

    height: 60rem !important;
   }
   .mainHeroDivider{
    height: 120rem !important;
   }
   .mainHeroBtn{
    font-size: 2.7rem;
    padding: 1rem 1rem;
   }
   .heroBox{
    /* padding-bottom: 0; */
    
    padding-top: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
   }
   .mainHeroHeading{
    font-size: 2.7rem;
   }
   .mainHeroIllustration{
    object-fit: cover;
   }
   .mainHeroParagraph{
    font-size: 2.7rem !important;
   }
  }
  
  